.title-container,
.search-container,
.table-container {
    width: calc(100vw - 400px);
}

.view-clients-container {
    width: calc(100vw - 300px);
    overflow-y: hidden;
    background-color: var(--soft);
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
}

.table-container {
    margin: 0 auto;
}