@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Raleway&display=swap');

:root {
  --primary: #344955;
  --secondary: #F9AA33;
  --dark: #232F34;
  --soft: #B0BEC5;
  --error: #B00020;
  --background: #ECEFF1;
  --white: #FFFFFF;
  --black: #000000;
  --xs: 10px;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --xl: 32px;
  --border-radius: .5rem;
}

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}



.container-view-content {

  display: flex;
  margin: 0;
  padding: 0;
}