.title-container,
.table-container {
    width: calc(100vw - 400px);
}

.view-clients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 300px);
    overflow-y: hidden;
    background-color: var(--soft);
    text-align: center;

}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}


.table-container {
    margin: 0 auto;

}

@media (max-width: 640px) {
    .view-clients-container {
        justify-content: start;
        z-index: -1;
    }
}